body,ul,p{
	margin: 0;
	padding: 0;
}


body{
	font-size: 15px;
	color: #333;
	background:url(../images/header_bg.png) repeat-x;
}

ul li{
	list-style-type: none;
}

#header{
	width: 960px;
	height: 30px;
	margin: 0 auto;
}
.logo{
	width: 100px;
	height: 30px;
	float: left;
}

.logo img{
	display: block;
}

.member{
	width: 80px;
	height: 30px;
	line-height: 30px;
	float: right;
	cursor: pointer;
	background: url(../images/arrow.png) no-repeat 70px center;
	position:relative;
}


.member ul{
	position:absolute;
	top:30px;
	left:-20px;
	width: 100px;
	height: 0;
	border: 1px #999 solid;
	padding: 10px 0 0 0;
	border-top: none;
	background:#FBF7E1;
	display: none;
	opacity: 0;
    /*filter:alpha(opacity=0);*/
    overflow: hidden;
}

.member ul li{
	height: 25px;
	line-height: 25px;
	text-indent: 25px;
	letter-spacing: 2px;
}

.member ul li a{
	display: block;
	text-decoration: none;
	color: #333;
	background: url(../images/arrow3.gif) no-repeat 5px 45%;
}

.member ul li a:hover{
	background: url(../images/arrow4.gif) no-repeat 5px 45%;
	background-color: #fc0;
}

.login,.reg{
	width: 50px;
	height: 30px;
	line-height: 30px;
	float: right;
	cursor: pointer;
}


#nav{
	width: 465px;
	height: 52px;
	background: url(../images/nav_bg.png) no-repeat;
	margin: 50px auto 0 auto;
	position: relative;
	cursor: pointer;
}

#nav ul{
	position: absolute;
	left: 20px;
}

#nav ul li{
	float: left;
	width: 85px;
	height: 52px;
	line-height: 52px;
	cursor: pointer;
	text-align: center;
	font-weight: bold;
}

#nav ul .black{
	left: 20px;
	color: #333;
	z-index: 1;
}

#nav .nav_bg .white{
	width: 425px;   /*设置长度才有滑动的效果*/
	left: 0px;
	color: #fff;
	z-index: 3;
}

#nav .about{
	left: 20px;
	z-index: 4;
	cursor: pointer;
	background: red;
	filter:alpha(opacity=0); /*解决IE滑动时抖动的问题*/
	opacity: 0;
}

#nav .nav_bg{
	width: 85px;
	height: 52px;
	background: url(../images/nav_over.png) no-repeat 0 11px;
	position: absolute;
	left: 20px;
	top:0;
	z-index: 2;
	overflow: hidden;
}

#screem{
	position: absolute;
	top: 0;
	left: 0;
	background:#000;
	 /*IE 透明度 filter: alpha(Opacity=30);  */
	opacity:0.30;                /*非 IE 透明度*/
	z-index:9998;                /*层高度*/
	display: none;
}



#login{
	width: 350px;
	height: 250px;
	border: 1px solid #ccc;
	position: absolute;
	display: none;
	z-index: 9999;
	background: #fff;
}

#login h2,#reg h2{
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: #666;
	height: 40px;
	line-height:40px;
	text-align: center;
	letter-spacing: 2px;
	background: url(../images/login_header.png) repeat-x;
	cursor: move;
}

#login h2 .close,#reg h2 .close{
	float: right;
	position: relative;
	right: 10px;
	top: 13px;
	cursor:pointer;
}
#login .user,#login .password{
	font-size: 20px;
	color: #666;
	height: 40px;
	line-height:40px;
	text-align: center;
	letter-spacing: 2px;
}

#login .button{
	text-align: center;
	padding: 20px 0;
}

#login .button .submit{
	width: 107px;
	height: 30px;
	background: url(../images/login_button.png)no-repeat;
	border: none;
	cursor: pointer;
}

#login .other{
	font-size: 15px;
	color: #666;
	height: 35px;
	line-height:35px;
	letter-spacing: 2px;
	text-align: right;
	padding: 18px;
	cursor: pointer;
}



#reg{
	width: 600px;
	height: 550px;
	border: 1px solid #ccc;
	position: absolute;
	display: none;
	z-index: 9999;
	background: #fff;
}

#reg dl{
	font-size: 14px;
	color: #666;
	margin: 20px;
	position: relative;
}


#reg dl dd{
	height: 30px;
	padding: 5px 0;
}

#reg dl dd input,#reg dl dd select{
	width: 200px;
	height: 25px;
	border: 1px solid #ccc;
	background: #fff;
	font-size: 14px;
	color: #666;
}

#reg dl dd select {
width:202px;
}

#reg dl dd.birthday select{
	width: 90px;
}

#reg dl dd textarea{
	border: 1px solid #ccc;
	width: 360px;
	height: 100px;
	background: #fff;
}

#reg dl dd input.submit{
	width: 143px;
	height: 33px;
	background: url(../images/reg.png) no-repeat;
	border: none;
	cursor: pointer;
	margin: 0 auto;
}

#reg dl dd span.info,#reg dl dd span.error,#reg dl dd span.succ{
	display: block;
	font-size: 12px;
	width: 165px;
	height: 32px;
	line-height: 32px;
	padding: 0 0 0 35px;
	position: absolute;
	letter-spacing: 1px;
	display: none;
}

#reg dl dd span.info{
	background: url(../images/reg_info.png) no-repeat; 
	color: #333;
}

#reg dl dd span.error{
	background: url(../images/reg_error.png) no-repeat; 
	color: red;
}

#reg dl dd span.succ{
	height: 14px;
	line-height: 14px;
	padding: 0 0 0 20px;
	background: url(../images/reg_succ.png) no-repeat; 
	color: green;
	
}

#reg dl dd span.info_user{
	height: 43px;
	line-height: 14px;
	padding-top: 7px;
	background: url(../images/reg_info2.png) no-repeat; 
	top:5px;
	left: 320px;
}

#reg dl dd span.error_user{
	top:5px;
	left: 320px;
}

#reg dl dd span.succ_user{
	top:15px;
	left: 320px;
}


#reg dl dd span.info_pass{
	width: 244px;
	height: 102px;
	line-height: 14px;
	padding-top: 7px;
	padding-left: 12px;
	background: url(../images/reg_info3.png) no-repeat; 
	top:5px;
	left: 320px;
	letter-spacing: 0px;
}

#reg dl dd span.info_pass p {
	height:25px;
	line-height:25px;
	color:#666;
}

#reg dl dd span.info_pass p strong.s{
	color: #ccc;
}

#reg dl dd span.error_pass{
	top:43px;
	left: 320px;
}

#reg dl dd span.succ_pass{
	top:52px;
	left: 320px;
}

#reg dl dd span.info_notpass{
	top:83px;
	left: 320px;
}

#reg dl dd span.error_notpass{
	top:83px;
	left: 320px;
}

#reg dl dd span.succ_notpass{
	top:92px;
	left: 320px;
}

#reg dl dd span.info_ans{
	top:163px;
	left: 320px;
}

#reg dl dd span.error_ans{
	top:163px;
	left: 320px;
}

#reg dl dd span.succ_ans{
	top:172px;
	left: 320px;
}

#reg dl dd span.info_email{
	top:203px;
	left: 320px;
}

#reg dl dd span.error_email{
	top:203px;
	left: 320px;
}

#reg dl dd span.succ_email{
	top:212px;
	left: 320px;
}

#reg dl dd ul.all_email{
	width: 182px;
	height: 130px;
	background: #fff;
	border: 1px solid #ccc;
	padding: 5px 10px;
	position: absolute;
	top: 233px;
	left: 110px;
	display: none;
}

#reg dl dd ul.all_email li{
	height: 25px;
	line-height: 25px;
	border-bottom: 1px solid #e5edf2;
	padding: 0 5px;
	cursor: pointer;

}

#reg dl dd.ps{
	padding: 0 0 0 320px;
}

#reg dl dd.ps strong.num{
	padding: 0 2px;
}

#reg dl dd.ps span.clear{
	color: #06f;
	cursor: pointer;
}

#reg dl dd span.error_ques{
	top:123px;
	left: 320px;
}

#reg dl dd span.error_birthday{
	top:241px;
	left: 320px;
}

#main{
	width: 900px;
	margin: 50px auto;
}

#sidebar{
	width: 300px;
	height: 500px;
	float: left;
}

#sidebar h2{
	width: 298px;
	height: 30px;
	line-height: 30px;
	text-indent: 15px;
	margin: 0;
	padding: 0;
	font-size: 18px;
	background: url(../images/side_h.png);
	border: 1px solid #ccc;
	border-bottom: none;
}

#sidebar ul{
	height: 150px;
	border: 1px solid #ccc;
	margin: 0 0 10px 0;
	overflow: hidden;
	opacity: 1;
	filter:alpha(opacity=100);  /*IE需要设置透明度（即使100%）才可以进行透明度渐变效果*/
}

#sidebar ul li{
	height: 30px;
	line-height: 30px;
	background: url(../images/arrow4.gif) no-repeat 10px 45%;
	text-indent: 30px;
}

#sidebar ul li a{
	text-decoration: none;
	color: #333;
	font-size: 14px;
}
#index{
	width: 580px;
	height: 570px;
	background-color: #eee;
	float: right;
}

#banner{
	clear:both;
	width: 900px;
	height: 150px;
	margin: 10px 0;
    position: relative;
    top: 0;
    left: 0;
    float: left;
    overflow: hidden;
}

#banner img{
	display: block;
	position: absolute;
	left: 0;
}

#banner ul{
	position: absolute;
	top: 128px;
	left: 420px;
	z-index: 4;
}

#banner ul li{
	float: left;
	padding: 0 10px;
	font-size: 20px;
	color: #999;
	cursor: pointer;
}

#banner span{
	display: block;
	width: 900px;
	height: 25px;
	background: #000;
	position: absolute;
	top: 125px;
	left: 0;
	opacity: 0.3;
	filter:alpha(opacity=30);
	z-index: 3;
}

#banner strong{
	position: absolute;
	top: 130px;
	left: 10px;
	color: #fff;
	z-index: 4;
}

#photo{
	width: 900px;
	float: left;
}

#photo dl{
	width: 225px;
	height:270px;
	float: left;
	margin: 5px 0 15px 0; 
}

#photo dl dt{
	width: 200px;
	height: 250px;
	background: #eee;
	margin: 0 auto;
}

#photo dl dt img{
	width: 200px;
	height: 250px;
	cursor: pointer;
}

#photo dl dd{
	height: 25px;
	line-height: 25px;
	text-align: center;
}

#photo_big .big{
	width: 620px;
	height: 460px;
	padding: 10px 0 0 0;
	background: #333;
}

#photo_big .big img{
	display: block;
	margin: 0 auto;
	position: relative;
	top: 190px;
}

#photo_big .big strong{
	display: block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background: #000;
	opacity: 0;
	filter:alpha(opacity=0);
	font-size: 60px;
	color: #fff;
	cursor: pointer;
	position: absolute;
}

#photo_big .big strong.sl{
	top: 210px;
	left: 20px;
}


#photo_big .big strong.sr{
	top: 210px;
	right: 20px;
}

#photo_big .big span{
	display: block;
	width: 300px;
	height: 450px;
	background: #000;
	opacity: 0;
	filter:alpha(opacity=0);
	position: absolute;
	cursor: pointer;
}

#photo_big .big span.left{
	top: 50px;
	left: 10px;
}


#photo_big .big span.right{
	top: 50px;
	right: 10px;
}

#photo_big .big em{
	position: absolute;
	top: 480px;
	right: 20px;
	color: #fff;
	font-size: 14px;
	font-style: normal;
}


#share{
	width: 220px;
	height: 315px;
	border: 1px solid #ccc;
	position: absolute;
	top: 0;
	left: -221px;
	background-color: #fff;
}

#share h2{
	height: 30px;
	line-height: 30px;
	margin: 0;
	padding: 0;
	background-color: #eee;
	font-size: 15px;
	color: #666;
	text-indent: 10px;
}
#share ul{
	height: 260px;
	padding: 3px 0 2px 5px;
}

#share ul li{
	width: 100px;
	height: 28px;
	padding: 2px;
	float: left;
}

#share ul li a{
	display: block;
	font-size: 13px;
	width: 98px;
	height: 26px;
	line-height: 26px;
	text-decoration: none;
	text-indent: 30px;
	background-image:url(../images/share_bg.png);
	background-repeat: no-repeat;  /*这里要分步写，一起写可能有问题*/
	color: #666;
}

#share ul li a.a {
	background-position:5px 4px;
}
#share ul li a.b {
	background-position:5px -26px;
}
#share ul li a.c {
	background-position:5px -56px;
}
#share ul li a.d {
	background-position:5px -86px;
}
#share ul li a.e {
	background-position:5px -116px;
}
#share ul li a.f {
	background-position:5px -146px;
}
#share ul li a.g {
	background-position:5px -176px;
}
#share ul li a.h {
	background-position:5px -206px;
}
#share ul li a.i {
	background-position:5px -236px;
}
#share ul li a.j {
	background-position:5px -266px;
}
#share ul li a.k {
	background-position:5px -296px;
}
#share ul li a.l {
	background-position:5px -326px;
}
#share ul li a.n {
	background-position:5px -356px;
}
#share ul li a.m {
	background-position:5px -386px;
}
#share ul li a.o {
	background-position:5px -416px;
}
#share ul li a.p {
	background-position:5px -446px;
}

#share ul li a:hover {
	opacity:0.7;
	/*filter:alpha(opacity=70);*/
	background-color:#eee;
	color:#06f;
}


#share .share_footer{
	background: #eee;
	height: 26px;
	position: relative;
}

#share .share_footer span{
	display: block;
	width: 30px;
	height: 88px;
	background: url(../images/share.png)no-repeat;
	position: absolute;
	top: -230px;
	left: 220px;
	cursor:pointer;
}

#share .share_footer a{
	position: absolute;
	font-size: 13px;
	top: 7px;
	left: 140px;
	text-decoration: none;
	color: #666;
	padding: 0 0 0 13px;
	background: #eee url(../images/share_bg.png)no-repeat 0 -477px;
}

#share .share_footer a:hover{
	color: #06f;
	opacity:0.7;
	/*filter:alpha(opacity=70);*/

}


#photo_big{
	width: 620px;
	height: 511px;
	border: 1px solid #ccc;
	position: absolute;
	display: none;
	z-index: 9999;
	background: #fff;
}

#photo_big h2{
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: #666;
	height: 40px;
	line-height:40px;
	text-align: center;
	letter-spacing: 2px;
	background: url(../images/login_header.png) repeat-x;
	cursor: move;
}

#photo_big h2 img{
	float: right;
	position: relative;
	top: 14px;
	right: 8px;
	cursor: pointer;
}

#photo_big h2 .close{
	float: right;
	position: relative;
	right: 10px;
	top: 13px;
	cursor:pointer;
}

#photo_big .big{
	width: 620px;
	height: 460px;
	padding: 10px 0 0 0;
}

#photo_big .big img{
	display: block;
	margin: 0 auto;
	position: relative;
	top: 190px;
}

footer{
	padding-top: 60px;
	font-size: 15px;
	text-indent: 40px;
	clear: both;
}